<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">Bowling Game</div>
      <div class="panel-body">
        <div id='scoresheet'>
          <h1>Current scoreboard</h1>
          <table class="table table-bordered">
            <tr>
              <th>Frame 1</th>
              <th>Frame 2</th>
              <th>Frame 3</th>
              <th>Frame 4</th>
              <th>Frame 5</th>
              <th>Frame 6</th>
              <th>Frame 7</th>
              <th>Frame 8</th>
              <th>Frame 9</th>
              <th>Frame 10</th>
            </tr>
            <tr>
              <td *ngFor="let score of serverScores">{{ score.sum }}</td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <form [formGroup]="gameForm" (ngSubmit)="handleGameForm(gameForm.value)">
          <div formGroupName="frames">
            <div class="form-group">
              <label for="throwOne">1st throw</label>
              <input
                id="throwOne"
                type="text"
                formControlName="first"
                class="form-control"
                required
                placeholder="Enter first throw ...">
            </div>
            <div class="form-group">
              <label for="throwTwo">2nd throw</label>
              <input
                id="throwTwo"
                type="text"
                formControlName="second"
                class="form-control"
                required
                placeholder="Enter second throw ...">
            </div>
          </div>
          <button
            type="submit"
            [disabled]="isEndOfGame"
            [disabled]="!gameForm.valid"
            class="btn btn-primary pull-right">Submit</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

